


img {
    width: 200px;
    height:200px;
    object-fit:contain;
  }
  .oneBrand,
  .oneCategory {
      
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: auto;
    padding: 10px;
    justify-content: center;
   width: 1330px;
}
    
  

  h2, p, a {

    text-decoration: none;
    color: black;
  }
  
  
  .product  {
      border: solid 0.5px lightgray;
     
      height: 400px;
      background-color: white;
      padding: 20px;
  
  }
  
  .product img {
      width: 100%;
      
  }

  .product:hover {

    border: solid 1px darkgray;
    cursor: pointer;
    
   
  }
  
  
  
  