header {
  position: fixed;
  z-index: 6;
  background-color: white;
  position: sticky;
  top: 0;
  height: 5vh;
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  width: 100%;
  position: relative;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 5vh;
}

.homeLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.categoryLink {
  text-decoration: none;
  color: black;
  cursor: default;
  display: flex;
  align-items: center;
  height: 5vh;
  cursor: pointer;
}

.brandLink {
  text-decoration: none;
  color: black;
  cursor: default;
  display: flex;
  align-items: center;
  height: 5vh;
  cursor: pointer;
}

.categories {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  list-style: none;
  transition: 0.2s ease-in-out;
  z-index: -5;
  left: 0;
  opacity: 0;
  top: 100%;
  transform: translateY(-100%);
}

.categoriesShow {
  width: 100%;
  opacity: 1;
  transform: translateY(0);

  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  position: absolute;
  list-style: none;
  transition: 0.2s ease-in-out;
  z-index: -5;
  left: 0;
  top: 100%;
}

.category {
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category:hover {

  background-color:rgb(245, 228, 194);
}

.brands {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  position: absolute;
  list-style: none;
  transition: 0.3s ease-in-out;
  z-index: -5;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  opacity: 0;
}

.brandsShow {
  opacity: 1;
  transform: translateY(0);
  width: 100%;
  height: 55vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: absolute;
  list-style: none;
  transition: 0.3s ease-in-out;
  z-index: -5;
  left: 0;
  top: 100%;
  box-sizing: border-box;
  
}

.brand {
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  
}
 .brand:hover {
  background-color:rgb(245, 228, 194);
 }

.cartIcon {
  width: 50px;
  height: 30px;
  background-image: url(../../images/PinClipart.com_clipart-spa_4035278.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 100px;
  
 
}

.openCart {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.numberOfItemsInCart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right:11px;
  top: 2px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 100%;
  cursor: pointer;
  
}


.userIcon {
  width: 50px;
  height: 30px;
  background-image: url(../../images/-abstract-user-icon-1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: 600px;
  
 
}

.openUser {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
